<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="false"
         convertWarningsToExceptions="false"
         strict="false"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true"
         bootstrap="tests/bootstrap.php"
        >
    <testsuites>
        <testsuite name="ALU Client Test Suite">
            <directory>tests/PayU/Alu/</directory>
        </testsuite>
    </testsuites>

    <php>
        <ini name="memory_limit" value="256M"/>
    </php>

</phpunit>